<div class="m-2">
  <% @menus.each do |menu| %>
  <div>
    <p><%= menu.name %></p>
    <p id="test"><%= menu.genre.name %></p>
    <p id="main"></p>
  </div>

  <script>
  //表示が変わるが最初の要素のみ
    var text = document.getElementById("main");
    var i = 0



     $('#test').click(function(){
      text.innerHTML = "<%= menu.body %>";
     });
  //要素内にテキストが入ってなくても使える
  //idを各変更させないといけない？
  </script>
<% end %>
</div>

