
  <div id="menu">
    <div id="sidemenu">
      <% @menus.each do |menu| %>
        <p><%= menu.genre.name %></p>
      <% end %>
    </div>
    <div id="menu_button">open</div>
    <div class="clear"></div>
  </div>
<script>
$(function(){
var open = 'open'
var close = 'close'

const menu = '#menu'

const sidemenu = '#sidemenu'



var width = 300

var speed = 300
//each だと機能しない？（表示されたままになる）

//buttonの表示は変わる
  $('#menu_button').click(function(){
    if($(menu).hasClass('active')){
      $(menu).stop().animate({left:'-'+width+'px'},speed).removeClass('active');
      $('#menu_button').html(close);
    }else{
      $(menu).stop().animate({left:'0'},speed).addClass('active');
      $('#menu_button').html(open);
    };
  });
});
</script>



