

<ul id="nav">
 <li>メニュー
  <ul>
   <li><%= link_to "test1", genres_path %></li>
   <li><%= link_to "test1", genres_path %></li>
   <li><%= link_to "test1", genres_path %></li>
  </ul>
 </li>
</ul>


<script>
//プルダウンメニュー（jquery）
//jquery適応できていない？
$(function() {
 $('#nav li').mouseover(function(e) {
  $('ul', this).stop().slideDown('fast');
 })
 .mouseout(function(e) {
  $('ul', this).stop().slideUp('fast');
 });
});

</script>



