
<p id="test">あいうえお</p>

<button type="button" onclick="myfunc()">test</button>

<h3 onmouseover="mainfunc()">main</h3>

<h2 onmouseenter="subfunc()">sub</h2>

<script>
var text = document.getElementById("test");

  var myfunc = function(){

  text.innerHTML = "かきくけこ";
  }

 //マウスカーソルが要素の上にのったとき

 var mainfunc = function(){
  text.innerHTML = "さしすせそ";
 }

 var subfunc = function(){
  text.innerHTML = "たちつてと";
 }


</script>

